.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: 30px;
  width: 100%;
}

.movie__posters {
  /* CSS properties for our home page */

  display: flex;
  margin: 0px -15px;

  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.movie__posters::-webkit-scrollbar {
  display: none;
}
